[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = https://github.com/puppetlabs/puppetlabs-java_ks.git
[submodule "modules/java"]
	path = modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
